%tr
  %td
    =link_to event.title, event_path(event)
  %td
    =event.creator.email
  %td
    =link_to event_participations_path(event), method: :post do
      %i.fa.fa-sign-in
    - if event.owner?(current_user)
      =link_to event_path(event), method: :delete do
        %i.fa.fa-trash-o