=form_for(@search_form,url:home_path) do |f|
  =f.collection_select(:language_id, Language.all, :id, :name, {include_blank:true}, prompt: false, class: "form-control", include_blank:true)
  =f.text_field :radius, class:'form-control'
  =f.text_field :address, class:'form-control'
  =submit_tag 'Search'


-if @events
  %ul
  -@events.each  do |event|
    %li=render event